In [17]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [18]:
url = "https://www.basketball-reference.com/teams/CHI/1996_games.html"

In [19]:
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

In [20]:
table = soup.find_all(id="games")

In [21]:
head=soup.find(class_="thead")
column_names_raw=[head.text for item in head][0]
column_names_polished=column_names_raw.replace("\n",",").split(",")[2:-1]
print(column_names_polished)

['Date', '\xa0', '\xa0', '\xa0', 'Opponent', '\xa0', '\xa0', 'Tm', 'Opp', 'W', 'L', 'Streak', 'Notes']

In [22]:
games=[]
    
for i in range(len(table)):
    
    game=[]
    
    for td in table[i].find_all("td"):
        game.append(td.text)

        games.append(game) 

# df=pd.DataFrame(games, columns=column_names_polished).set_index("Date")

In [23]:
1066 / 13

82.0

In [24]:
n = []
for i in range(len(game)):
    num = i/13
    if num % 1 == 0:
        n.append(i)

In [25]:
from ast import literal_eval
data = []
for i in range(len(n)-1):
    clean = []
    clean.append(game[n[i]:n[i+1]])
    data.append(clean)

games = []
for d in data:
    newest = str(d).lstrip('[').rstrip(']')
    newest = list(literal_eval(newest))
    games.append(newest)

In [26]:
df=pd.DataFrame(games, columns=column_names_polished)

In [27]:
col = ['Date', 'Drop1', 'Box_Score', '@Home', 'Opponent', 'Outcome',
       'drop', 'Bulls_Points', 'Opp_Points', 'W', 'L', 'Streak', 'Notes']

In [28]:
df.columns = col
df

,Date,Drop1,Box_Score,@Home,Opponent,Outcome,drop,Bulls_Points,Opp_Points,W,L,Streak,Notes
0,"Fri, Nov 3, 1995",,Box Score,,Charlotte Hornets,W,,105,91,1,0,W 1,
1,"Sat, Nov 4, 1995",,Box Score,,Boston Celtics,W,,107,85,2,0,W 2,
2,"Tue, Nov 7, 1995",,Box Score,,Toronto Raptors,W,,117,108,3,0,W 3,
3,"Thu, Nov 9, 1995",,Box Score,@,Cleveland Cavaliers,W,,106,88,4,0,W 4,
4,"Sat, Nov 11, 1995",,Box Score,,Portland Trail Blazers,W,,110,106,5,0,W 5,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,"Fri, Apr 12, 1996",,Box Score,,Philadelphia 76ers,W,,112,82,68,9,W 2,
77,"Sun, Apr 14, 1996",,Box Score,@,Cleveland Cavaliers,W,,98,72,69,9,W 3,
78,"Tue, Apr 16, 1996",,Box Score,@,Milwaukee Bucks,W,,86,80,70,9,W 4,
79,"Thu, Apr 18, 1996",,Box Score,,Detroit Pistons,W,,110,79,71,9,W 5,
80,"Sat, Apr 20, 1996",,Box Score,,Indiana Pacers,L,,99,100,71,10,L 1,

In [29]:
df = df.drop(df.columns[[1, 2, 6, 12]], axis=1)

In [30]:
df['@Home'] = df['@Home'].map({'':0 ,'@':1})

In [31]:
df

,Date,@Home,Opponent,Outcome,Bulls_Points,Opp_Points,W,L,Streak
0,"Fri, Nov 3, 1995",0,Charlotte Hornets,W,105,91,1,0,W 1
1,"Sat, Nov 4, 1995",0,Boston Celtics,W,107,85,2,0,W 2
2,"Tue, Nov 7, 1995",0,Toronto Raptors,W,117,108,3,0,W 3
3,"Thu, Nov 9, 1995",1,Cleveland Cavaliers,W,106,88,4,0,W 4
4,"Sat, Nov 11, 1995",0,Portland Trail Blazers,W,110,106,5,0,W 5
...,...,...,...,...,...,...,...,...,...
76,"Fri, Apr 12, 1996",0,Philadelphia 76ers,W,112,82,68,9,W 2
77,"Sun, Apr 14, 1996",1,Cleveland Cavaliers,W,98,72,69,9,W 3
78,"Tue, Apr 16, 1996",1,Milwaukee Bucks,W,86,80,70,9,W 4
79,"Thu, Apr 18, 1996",0,Detroit Pistons,W,110,79,71,9,W 5
80,"Sat, Apr 20, 1996",0,Indiana Pacers,L,99,100,71,10,L 1

In [32]:
df.to_csv('bulls9596.csv', index=False)